.intelliq-home {
    font-family: Arial, sans-serif;
    padding: 2rem;
  }
  
  .intelliq-header {
    color: #000;
    padding: 2rem 0;
    text-align: center;
  }
  
  .intelliq-header h1 {
    margin: 0;
    font-size: 3.5rem;
  }
  
  .intelliq-header p {
    margin-top: 1rem;
    font-size: 3.2rem;
  }
  
  .intelliq-features {
    margin-top: 3rem;
  }
  
  .intelliq-features h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .feature {
    background-color: #f9f9f9;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
  }
  
  .feature h3 {
    margin-top: 0;
  }

  